flask==2.3.2
flask-cors==5.0.0
waitress==2.1.2
pika==1.2.1
pydantic==1.10.13
elasticsearch==7.0.0
requests==2.32.2
bump2version==1.0.1
scikit-learn==1.2.1
numpy==1.23.5
scipy==1.10.1
python-dateutil==2.8.2
psycopg2==2.9.6
schedule==1.1.0
urllib3==1.26.18
